.cuboctahedron__face--cube-left {
    background-image: linear-gradient(to top right, blue, green);
}

.title--left-side {
    background-image: linear-gradient(110deg, white, white);
}

.cuboctahedron__face--cube-left .nav-button{
    color: white;
}

.cuboctahedron__face--cube-left .contact__list-item {
    color: white;
}

.cuboctahedron__face--cube-left {
    color: black;
}

/***************About me*************************/

.AboutMe-container {
    width:100%;
    position:relative;
}

.AboutMe-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 15px; */
    justify-content: center;
}

.AboutMe-grid-item {
}

.AboutMe__figure {
    width:390px;
    height: auto;
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
    background-color: rgb(211, 223, 204);
    border: 3.14159265358px solid black;
    border-radius: 20px;
    padding: 10px;
}

.AboutMe__img {
    width:300px;
    height: auto;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.AboutMe__figcaption {
    text-align: justify;
}




