:root {
    --translateX: 0px;
    --translateY: 0px;
    --translateZ: -1131.3708499px;
    --translateZ-triangle: -1306.39452948px;
    --transitioningZ: -1870.21327273px;
    --transitioningZ-triangle: -2159.5362728456px;
    --transitioningY: -381.9660113px;
    --square-size: 1600px;
    --current-trans: "translateZ(" + var(--translateZ) + ") rotateY( 0deg) rotateZ(45deg)";
    --current-trans-moving: "translateZ(" + var(--transitioningZ) + ") translateY(" + var(--transitioningY) + ") rotateY( 0deg) rotateZ(45deg)";
    --new-trans: "translateZ(" + var(--translateZ) + ")";
    --new-trans-moving: "translateZ(" + var(--transitioningZ) + ") translateY(" + var(--transitioningY) + ")";
    --backface-visibility: "visible";
    /* start visible to display sides during page load */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    height: 1200px;
    margin: auto;
    z-index: 10;
    position: relative;
    overflow: auto auto;
}

@media only screen and (min-width: 1250px) {
    .body {
        width: 1250px;
        overflow: hidden auto;
    }
}

#scene {
    perspective: 700px;
    position: relative;
    top: -200px;
    z-index: -2;
    overflow: hidden;
}

/* perspective adjustments: 200px for left right, 3.14159265358px for bottom; no solution for top */

#cuboctahedron {
    position: relative;
    left: -175px;
    width: 1600px;
    height: 1600px;
    align-content: center;
    transform-style: preserve-3d;
    transition: transform 3.14s;
}

.cuboctahedron__face--square {
    position: absolute;
    width: var(--square-size);
    height: var(--square-size);
    border: 10px solid black;
    backface-visibility: var(--backface-visibility);
    -webkit-backface-visibility: var(--backface-visibility);
}

.cuboctahedron__face--triangle {
    position: absolute;
    width: var(--square-size);
    height: calc(var(--square-size) * 1.73205080757 / 2);
    /* that there is sqrt(3) */
    backface-visibility: var(--backface-visibility);
    -webkit-backface-visibility: var(--backface-visibility);
}

.cuboctahedron__face--triangle-up {
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.cuboctahedron__face--triangle-down {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/****SHOW***A***SIDE***With Animation*******/

.show-front-pageload {
    -webkit-transform: translateZ(-1131.3708499px) rotateY( 0deg) rotateZ(45deg);
    transform: translateZ(-1131.3708499px) rotateY( 0deg) rotateZ(45deg);
}

.show-front {
    -webkit-animation: animateShowFront 2s 1 forwards linear;
    animation: animateShowFront 2s 1 forwards linear;
}

.show-right {
    -webkit-animation: animateShowRight 2s 1 forwards linear;
    animation: animateShowRight 2s 1 forwards linear;
}

.show-left {
    -webkit-animation: animateShowLeft 2s 1 forwards linear;
    animation: animateShowLeft 2s 1 forwards linear;
}

.show-top {
    -webkit-animation: animateShowTop 2s 1 forwards linear;
    animation: animateShowTop 2s 1 forwards linear;
}

.show-bottom {
    -webkit-animation: animateShowBottom 2s 1 forwards linear;
    animation: animateShowBottom 2s 1 forwards linear;
}

.show-back {
    -webkit-animation: animateShowBack 2s 1 forwards linear;
    animation: animateShowBack 2s 1 forwards linear;
}

.show-tfl {
    -webkit-animation: animateShowTFL 2s 1 forwards linear;
    animation: animateShowTFL 2s 1 forwards linear;
}

.show-tbl {
    -webkit-animation: animateShowTBL 2s 1 forwards linear;
    animation: animateShowTBL 2s 1 forwards linear;
}

.show-tbr {
    -webkit-animation: animateShowTBR 2s 1 forwards linear;
    animation: animateShowTBR 2s 1 forwards linear;
}

.show-tfr {
    -webkit-animation: animateShowTFR 2s 1 forwards linear;
    animation: animateShowTFR 2s 1 forwards linear;
}

.show-dfl {
    -webkit-animation: animateShowDFL 2s 1 forwards linear;
    animation: animateShowDFL 2s 1 forwards linear;
}

.show-dbl {
    -webkit-animation: animateShowDBL 2s 1 forwards linear;
    animation: animateShowDBL 2s 1 forwards linear;
}

.show-dbr {
    -webkit-animation: animateShowDBR 2s 1 forwards linear;
    animation: animateShowDBR 2s 1 forwards linear;
}

.show-dfr {
    -webkit-animation: animateShowDFR 2s 1 forwards linear;
    animation: animateShowDFR 2s 1 forwards linear;
}

/***Keyframe animations are repeated to reanimate object upon changing variables in js***/

@-webkit-keyframes animateShowFront {
    0% {
        /* adjust perspective so that overlay of scene does not leak below set height */
        transform: var(--current-trans);
    }
    /* percent chosen as golden ratio */
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowFront {
    0% {
        /* adjust perspective so that overlay of scene does not leak below set height */
        transform: var(--current-trans);
    }
    /* percent chosen as golden ratio */
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowRight {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowRight {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowLeft {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowLeft {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowTop {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowTop {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowBottom {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowBottom {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowBack {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowBack {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowTFL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowTFL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowTBL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowTBL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000'translateY'/(5000'translateZ' + 700'perspective'))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        /* translateY to make it easier to spot, rotateX to fix face at viewer( 2000/(5000 + 700))*/
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowTBR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowTBR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowTFR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowTFR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowDFL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowDFL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowDBL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowDBL {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowDBR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowDBR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@-webkit-keyframes animateShowDFR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

@keyframes animateShowDFR {
    0% {
        transform: var(--current-trans);
    }
    17.1884705085% {
        transform: var(--current-trans-moving);
    }
    45% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    55% {
        transform: translateZ(-5000px) translateY(-2000px) rotateX(-19.3348085deg) rotateZ(45deg);
    }
    82.8115294915% {
        transform: var(--new-trans-moving);
    }
    100% {
        transform: var(--new-trans);
    }
}

/*********Design FACES**********/

.cuboctahedron__face--square-front {
    /* translateZ is 16 00 * sqrt(2) / 2 */
    transform: rotateZ(-45deg) translateZ(1131.3708499px);
    z-index:5;
}

.cuboctahedron__face--square-right {
    transform: rotateY( 90deg) rotateZ(45deg) translateZ(1131.3708499px);
}

.cuboctahedron__face--square-back {
    transform: rotateY(180deg) rotateZ(135deg) translateZ(1131.3708499px);
}

.cuboctahedron__face--square-left {
    transform: rotateY(-90deg) rotateZ(-135deg) translateZ(1131.3708499px);
}

.cuboctahedron__face--square-top {
    transform: rotateX( 90deg) rotateZ(135deg) translateZ(1131.3708499px);
    background-image: linear-gradient(110deg, green, darkturquoise);
    ;
}

.cuboctahedron__face--square-bottom {
    transform: rotateX(-90deg) rotateZ(-135deg) translateZ(1131.3708499px);
}

.cuboctahedron__face--triangle-ufl {
    /* reassign middle of original rectangle to centroid of triangle */
    transform-origin: center 33.3333333333%;
    /* initial translateY to recenter from center of rectangle to centroid of triangle (3/2 the calculated change... not sure how that happened) */
    transform: translateY(346.410161514px) rotateY(-45deg) rotateX(35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(to bottom right, darkturquoise, purple);
}

.cuboctahedron__face--triangle-ubl {
    transform-origin: center 33.3333333%;
    transform: translateY(346.410161514px) rotateY(-135deg) rotateX(35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(110deg, blue, green);
}

.cuboctahedron__face--triangle-ubr {
    transform-origin: center 33.3333333%;
    transform: translateY(346.410161514px) rotateY(135deg) rotateX(35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(110deg, darkturquoise, red);
}

.cuboctahedron__face--triangle-ufr {
    transform-origin: center 33.33333333%;
    transform: translateY(346.410161514px) rotateY(45deg) rotateX(35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(to bottom left, red, purple, purple);
}

.cuboctahedron__face--triangle-dfl {
    transform-origin: center 66.666666666666666%;
    /* -115.47 is 1/2 the calculated correction distance... */
    transform: translateY(-115.470053838px) rotateY(-45deg) rotateX(-35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(to top right, green, blue);
}

.cuboctahedron__face--triangle-dbl {
    transform-origin: center 66.666666666666666%;
    transform: translateY(-115.470053838px) rotateY(-135deg) rotateX(-35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(110deg, blue, darkturquoise);
}

.cuboctahedron__face--triangle-dbr {
    transform-origin: center 66.666666666666666%;
    transform: translateY(-115.470053838px) rotateY(135deg) rotateX(-35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(110deg, darkturquoise, purple);
}

.cuboctahedron__face--triangle-dfr {
    transform-origin: center 66.666666666666666%;
    transform: translateY(-115.470053838px) rotateY(45deg) rotateX(-35.2643897deg) translateZ(1306.39452948px);
    background-image: linear-gradient(to top left, blue, green);
}

/***************Content******************/



/* removing animation to avoid event listener confusing with perspective adjustments */

/* input[type=button]:hover {
    animation: blinker 1s linear infinite;   
} */

.title--left-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--right-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--top-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--tfl-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--tbl-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--tbr-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--tfr-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--dfl-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--dbl-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--dbr-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}

.title--dfr-side {
    background-image: linear-gradient(110deg, purple, limegreen);
}