* {
    color: lime;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color:black;
    
}

html {
    font: 20px/1.618;
    font-family: "Courier New", Courier, monospace;
}

.hero-image {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    margin-top: 1rem;
    max-width: 90rem;
    height: 1000px;
    position:relative;
}

/**********footer***********/

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    position: relative;
}

.force--footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.copyright {
    color: darkblue;
    font-size: .5rem;
    bottom: 0;
    left: 0;
    position: relative;
}

.footer--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact__list-item {
}

ul {
    list-style-type: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h2:hover {
    animation: blinker 1s linear infinite;
}

a {
    text-decoration: none;
}

a:hover {
    animation: blinker 1s linear infinite;
}

/****************IKIGAI*************/

.venncircle {
    width: 500px;
    height: 500px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 50%;
    position: absolute;
    -webkit-transition: color 0.5s linear, background-color 0.5s linear;
    -moz-transition: color 0.5s linear, background-color 0.5s linear;
    -o-transition: color 0.5s linear, background-color 0.5s linear;
    transition: color 0.5s linear, background-color 0.5s linear;
    border: white 2px solid;
}

.venncircle>p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.venncirctop {
    top: 100px;
    left: 250px;
    background-color: rgba(185, 24, 73, 0.5);
    z-index: 4;
}

.venncirctop:hover {
    z-index: 5;
    background-color: rgba(185, 24, 73, 0.9);
}

.venncirclft {
    left: 100px;
    top: 250px;
    background-color: rgba(21, 151, 123, 0.5);
    z-index: 2;
    text-align: left;
}

.venncirclft:hover {
    z-index: 5;
    background-color: rgba(21, 151, 123, 0.9);
}

.venncircrt {
    right: 100px;
    top: 250px;
    background-color: rgba(122, 22, 153, 0.5);
    z-index: 2;
    text-align: right;
}

.venncircrt:hover {
    z-index: 5;
    background-color: rgba(122, 22, 153, 0.9);
}

.venncircbtm {
    bottom: 100px;
    left: 250px;
    text-align: center;
    background-color: rgba(27, 86, 194, 0.5);
    z-index: 3;
}

.venncircbtm:hover {
    z-index: 5;
    background-color: rgba(27, 86, 194, 0.9);
}

.venntxttop {
    text-align: center;
    display: block;
    position: relative;
    top: 50px;
}

.venntxtrt {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 240px;
    right: 0;
    margin-right: 1rem;
}

.venntxtlft {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 240px;
    margin-left: 1rem;
}

.venntxtbtm {
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: -400px;
}

.tier2txt {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: lime;
    text-decoration: none;
}

.venntoplft {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    top: 350px;
    left: 300px;
}

.venntoprt {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    top: 350px;
    right: 300px;
}

.vennbtmlft {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    bottom: 350px;
    left: 300px;
}

.vennbtmrt {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    bottom: 350px;
    right: 300px;
}

.hero-image__title {
    font-size: 50px;
    color: White;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}

.header__img {
    position: absolute;
    width: 200px;
    height: auto;
    top: 400px;
    left: 400px;
    border-radius: 50%;
    border: white 2px solid;
    z-index:20;
}

.header__img--contain {
    width: 40%;
    height: 40%;
    object-fit: cover;
}