.cuboctahedron__face--cube-front {
    background-image: radial-gradient(black, black, blue);
}

.title--front-side {
    background-image: linear-gradient(110deg, limegreen, purple);
}

.cuboctahedron__face--cube-front .nav-button{
    color: white;
}

.cuboctahedron__face--cube-front strong {
    color: white;
}

.cuboctahedron__face--cube-front .contact__list-item {
    color: white;
}

.tier2txt {
    color: white;
}


/****************IKIGAI*************/

.hero-image-container {
    width: 1200px;
    max-width: 90rem;
    height: 1200px;
    position:absolute;
    top: 200px;
    left: 200px;
    margin: 0 auto;
    z-index:0;
    

}
.hero-image {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: 600px;
    height: 600px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    -webkit-transition: color 0.5s linear, background-color 0.5s linear;
    -moz-transition: color 0.5s linear, background-color 0.5s linear;
    -o-transition: color 0.5s linear, background-color 0.5s linear;
    transition: color 0.5s linear, background-color 0.5s linear;
    border: white 2px solid;
}

.circle>p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6180339887rem;
    color: #FFFFFF;
    text-decoration: none;
}

.tier2txt {
    font-size: 1.6180339887rem;
}

.circtop {
    top: 120px;
    left: 300px;
    background-color: rgba(185, 24, 73, 0.5);
    z-index: 4;
}

.circtop:hover {
    z-index: 5;
    background-color: rgba(185, 24, 73, 0.9);
}

.circlft {
    left: 120px;
    top: 300px;
    background-color: rgba(21, 151, 123, 0.5);
    z-index: 2;
    text-align: left;
}

.circlft:hover {
    z-index: 5;
    background-color: rgba(21, 151, 123, 0.9);
}

.circrt {
    right: 120px;
    top: 300px;
    background-color: rgba(122, 22, 153, 0.5);
    z-index: 2;
    text-align: right;
}

.circrt:hover {
    z-index: 5;
    background-color: rgba(122, 22, 153, 0.9);
}

.circbtm {
    bottom: 120px;
    left: 300px;
    text-align: center;
    background-color: rgba(27, 86, 194, 0.5);
    z-index: 3;
}

.circbtm:hover {
    z-index: 5;
    background-color: rgba(27, 86, 194, 0.9);
}

.txttop {
    text-align: center;
    display: block;
    position: relative;
    top: 80px;
}

.txtrt {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 288px;
    right: 0;
    margin-right: 1rem;
}

.txtlft {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 288px;
    margin-left: 1rem;
}

.txtbtm {
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: -480px;
}

.tier2txt {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.toplft {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    top: 420px;
    left: 360px;
}

.toprt {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    top: 420px;
    right: 360px;
}

.btmlft {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    bottom: 420px;
    left: 360px;
}

.btmrt {
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 20;
    bottom: 420px;
    right: 360px;
}

.hero-image__title {
    font-size: 55.2px;
    color: White;
    background:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}

.header__img {
    position: absolute;
    width: 240px;
    height: auto;
    top: 480px;
    left: 480px;
    border-radius: 50%;
    border: white 2px solid;
    z-index:20;
}

.header__img--contain {
    width: 40%;
    height: 40%;
    object-fit: cover;
}