* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    background-color: black;
    min-height: 100%;
}

html {
    font: 20px/1.618;
    font-family: "Courier New", Courier, monospace;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1200px;
    margin-top: 200px;
    height: 1200px;
}

ul {
    list-style-type: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
}

/* removing animation to avoid event listener confusing with perspective adjustments */
/* a:hover {
    animation: blinker 1s linear infinite;
} */



/*******HEADER***************/

.main-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main-header__title {
    font-size: 3.14rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 1.6180339887rem;
}

.nav--margin-right {
    margin-right: -1rem;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__list-item:last-child {
    margin-right: 0;
}

@media (min-width: 550px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav--margin-right {
        margin-right: 1rem;
    }
    .nav__list-item {
        margin-right: 1rem;
    }
}

/**********footer***********/

footer {
    width: 100%;
    bottom: 0;
    position: relative;
}

/* 
.force--footer {
    position: absolute;
    right: auto;
    bottom: 0;
    left: auto;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  
} */

.force-footer {
    position: absolute;
    bottom: 0;
    left: 300px; /* manual... */  
}

.copyright {
    color: darkblue;
    font-size: .5rem;
    bottom: 0;
    left: 0;
    position: absolute;
}

.footer--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact__list-item {
    display: inline-block;
    padding: 0 2rem;
}
