* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    background-color: black;
    min-height: 100%;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

html {
    font: 20px/1.618;
    font-family: "Courier New", Courier, monospace;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1200px;
    margin-top: 200px;
    height: 1200px;
}

ul {
    list-style-type: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
}

/* removing animation to avoid event listener confusing with perspective adjustments */

/* a:hover {
    animation: blinker 1s linear infinite;
} */

/*******HEADER***************/

.main-header {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;

    width: 100%;
    z-index: 10;
}

.main-header__title {
    font-size: 3.14rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 1.6180339887rem;
}

.main-header__title:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/********LINKS**********/
input[type=button] {
    border: 0;
    z-index: 9000.000001;
}

.nav-button {
    background: transparent;
}

.nav-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/**********FOOTER***********/

.force-footer {
    position: absolute;
    bottom: 0;
    left: 300px;
    /* manual... */
}

.copyright {
    color: darkblue;
    font-size: .5rem;
    bottom: 0;
    left: 0;
    position: absolute;
}

.footer--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact__list-item {
    display: inline-block;
    padding: 0 2rem;
}