.navigation {
    position: absolute;
    top: 0;
    right: 33.333333px;
    align-content: right;
}

.nav {
    display: none;
}

.nav--margin-right {
    margin-right: -.5rem;
}

.nav__list {
    margin-top: 16px;
    display: block;
    
    list-style-type: none;
    text-align: left;
    z-index:9001;
}

.nav-button {
    font-size: 20px;
}

.burger {
    position:absolute;
    top: 0;
    right:0;
    border: none;
    display: block;
    background: none;
    height: 100px;
}

.burger {
    cursor: pointer;
}


.bar {
    display: block;
    width: 3.14159265358em;
    height: 0.2em;
    margin: 0.9em;
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}

.bar-mid-hidden {
    position: absolute;
    top: 36px;
}

.open-flex {
    display: flex; 
    animation: appear 1.2s ease-in;
}

@keyframes appear {
    0% {opacity : 0;}
    100%{ opacity : 1;}
}

.bar-top-transform {
    transform: translateY(-33.333333px) rotateZ(-360deg) scaleX(3.14159265358) scaleY(1.6180339887);
}

.bar-mid-transform {
    transform: translate(64px, 10px) rotateZ(270deg) scaleX(2.71828) scaleY(1.6180339887);
}

.bar-mid-hidden-transform {   
    transform: translate(-64px, 10px) rotateZ(-270deg) scaleX(2.71828) scaleY(1.6180339887);
}

.bar-bot-transform {
    transform: translateY(50px) rotateZ(360deg) scaleX(3.14159265358) scaleY(1.6180339887);    
}

