body {
    color : lime;
    text-shadow: 1px 1px green;
    background-color: black;
}





h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

figure {
    position: relative;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    bottom: .05;
    color: white;
    position: absolute;
    width: 100%;
    opacity: 0.4;
    text-align: center;
}

#pageIntro {
    text-align: center;
}

.aboutMeSection {
    border: 5px;
    border-color: 
}

#techInv {
    text-align: center;
}

#techInv ul {
    list-style-type: none;
}
