h1 {
    text-align: center;
    color: lime;
}

img {
    width: 100%;
    height: 100%;
}


#pageIntro {
    text-align: center;
}

#aboutMe {
    text-align: center;
}

#techInv ul {
    list-style-type: none;
}

#techInv ul li {
    text-align: center;
}