<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/main.css">
</head>


<body>
  <header class="main-header">
    <h1 class="main-header__title">Anthony Lam</h1>
    <nav class="nav nav--margin-right">
      <ul class="nav__list">
        <li class="nav__list-item"><a href="#home">Home</a></li>
        <li class="nav__list-item"><a href="#aboutMeSection">About</a></li>
        <li class="nav__list-item"><a href="#projectSection">Projects</a></li>
        <li class="nav__list-item"><a href="/cv">CV</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">

    {{ content }}

  </div>

  <footer>
    <small> &copy; Anthony Lam </small>
    <ul>
      <li>317-430-4762</li>
      <li><a href="mailto:lamah314@gmail.com">Lamah314@gmail.com</a></li>
      <li><a href="https://github.com/lamah314">github.com/lamah314</a></li>
    </ul>
  </footer>
</body>

</html>