<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/main.css">
</head>


<body>
  <header class="main-header">
    <h1 class="main-header__title">Anthony Lam</h1>
    <nav class="nav nav--margin-right">
      <ul class="nav__list">
        <li class="nav__list-item"><a href="#home">Home</a></li>
        <li class="nav__list-item"><a href="#aboutMeSection">About</a></li>
        <li class="nav__list-item"><a href="#projectSection">Projects</a></li>
        <li class="nav__list-item"><a href="/cv">CV</a></li>
      </ul>
    </nav>
    <br>
  </header>
  <div class="container">

    {{ content }}

  </div>

  <footer>
    <div class="footer--center">
      <ul class="contact__list">
        <li class="contact__list-item">317-430-4762</li>
        <li class="contact__list-item"><a href="mailto:lamah314@gmail.com">Lamah314@gmail.com</a></li>
        <li class="contact__list-item"><a href="https://www.linkedin.com/in/lamah/"
            target="_blank">www.linkedin.com/in/lamah</a></li>
        <li class="contact__list-item"><a href="https://github.com/lamah314" target="_blank">github.com/lamah314</a></li>
      </ul>
    </div>
    <small class="copyright"> &copy; Anthony Lam </small>
  </footer>
</body>

</html>